.user-form{
    padding: 16px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    background-color: #d16868;
}

.input, label{
    display: block;
    margin-top: 8px;
    padding: 4px;
}

input{
    font-size: 18pt;
    border-radius: 10px;
}

.add-user-btn{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}