.user-list{
    list-style-type: none;
    padding: 1rem;
    background-color: white;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.individual-user{
    color: black;
    padding: 20px;
    border: 1px solid rgb(10, 9, 9);
}